<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<link rel="stylesheet" type="text/css" href="/static/kaznu/css/all.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.4.1.3.min.css">

<style>
.content-wrapper {
    max-width: 1200px !important;
    margin: 0 auto !important;
}
</style>

<section class="static-container about" style="padding:30px 0 10px;text-align:justify">

   
        <h1>${_('About')}</h1>
    
    
    
    

<div>
<p>${_('Al-Farabi Kazakh National University is the leader among Kazakhstani universities in implementing MOOCs on the OpenEdx open platform.')}</p>
</div>
<div>
<p>${_('Since the 2014-2015 academic year, the Distance Education Center of Al-Farabi Kazakh National University, together with the teaching staff, has begun work on the creation of MOOCs, and at the moment at the ')} <a href="http://open.kaznu.kz">http://open.kaznu.kz</a> ${_('there is a proprietary MOOC platform based on the Open edX system.')}</p>
</div>
<div>
<p>${_('On October 1, 2015, the first open courses from leading teachers of Al-Farabi Kazakh National University were launched - Probability Theory and Physical problems with Associate Professor V. Kashkarov, where about 250 and 500 students from different regions of Kazakhstan, respectively, enrolled. These courses were mainly attended by students of the 1st-2nd year of Al-Farabi Kazakh National University, senior classes of Nazarbayev intellectual schools, specialized physics and mathematics and secondary schools. Data analysis has shown great interest in these courses, which gives an incentive to the teaching staff and university staff to continue working in this direction. At the end of June 2016, more than two thousand listeners were registered in the system.')}</p>
</div>
<div>
<p>${_('With the active assistance of the Al-Farabi Kazakh National University, the National Platform for Open Education of Kazakhstan (hereinafter referred to as NPOC) was launched.')}
</p>
</div>
<div>
<p>${_('As part of the implementation of a set of measures for the development of e-learning and the organization of the work of NPOC for training personnel based on distance education technologies (DOT) and strengthening the work of the Center for Distance Education (CDO), in order to increase the mobility of the provision of educational services to the university according to new educational programs, the university management decided (Rector&lsquo;s Order No. 45 of 29.01.2016) to transform the structural unit of the Center for Distance Education into the Institute of Distance Education; (IDO), which included the Center for Mass Open Online Courses (CMOC) in the status of the project office of the national platform. The Regulations of the MOOC Center, as well as job descriptions of the head, leading specialist and specialist of the CMOC Center were developed and approved by the Vice-Rector for Academic Affairs Ahmed-Zaki D.J. (dated March 14, 2016). (dated January 10, 2019).')}</p>
</div>
<div>
<p>${_('In February 2016, the Institute of Distance Education was transformed into the Institute of New Educational Technologies, which continues the work of the CMOC.')}</p>
</div>




<!--
<a href="/static/1.pdf")}">${_('The document of the Center for Mass open online courses of Al-Farabi Kazakh National University')}</a>
-->



       

  </section>

<div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>${_('Our team')}</h1>
                </div>
          </div>
          <div class="row text-centred">

                <div class="col-md-3">
                    <div class="team-member">
                        <span>
                        <img class="img-circle"  src="/static/kaznu/images/asel.png">
                        </span>
                        <h4>${_('Musinova Asel')}</h4>
                       <p class="text-centred">${_('Acting head of the Department of methodological work and educational technologies')}</p>
                     </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member">
                       <span>
                       <img class="img-circle"  src="/static/kaznu/images/marzhan1.png">
                       </span>
                        <h4>${_('Atabayeva Marzhan')}</h4>
                        <p class="text-centred">${_('Head of the Center for mass open online courses')}</p>
                     </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member">
                       <span>
                       <img class="img-circle" style="width: 200px;" src="/static/kaznu/images/ainur.png">
                       </span>
                        <h4>${_('Aristanova Ainur')}</h4>
                        <p class="text-centred">${_('Software Engineer at the Institute of New Educational Technologies')}</p>
                     </div>
                </div>


            <div class="col-md-3" style="float: inherit;">
                    <div class="team-member">
                        <span>
                        <img class="img-circle"  src="/static/kaznu/images/rinat.png">
                        </span>
                        <h4>${_('Khakimov Rinat')}</h4>
                <p class="text-centred">${_('Software Engineer at the Institute of New Educational Technologies')}</p>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="team-member">
                       <span>
                       <img class="img-circle" style="width: 200px;"  src="/static/kaznu/images/erbol.png">
                       </span>
                        <h4>${_('Akpanov Erbol')}</h4>
                        <p class="text-centred">${_('Leading specialist of the Institute of new educational technologies')}</p>
                     </div>
                </div>

                   </div>
</div>
</div>
