<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/theme-main.html" />

<%block name="pagetitle">${_("Contact")}</%block>



 <section class="static-container contact">
    
        <h1>${_("Contact")}</h1>

        <p style="text-align:justify;"><b>Казахский национальный университет им. аль-Фараби,

Республика Казахстан, Алматы, 050040 пр. аль-Фараби, 71, ректорат 2 этаж, Центр массовых открытых онлайн курсов Института новых образовательных технологий.</b></p>

        <p><b>Tel:</b>&nbsp;8(727)377-33-33</p>
<p><b>(внутренний) директор:</b>&nbsp;3123</p>
<p><b>(внутренний) центр:</b>&nbsp;1133</p>
<p><b>(внутренний) техническая поддержка:</b>&nbsp;1470</p>
        <p><b>E-mail:</b>&nbsp;moocs@kaznu.kz</p>

    
        </section>



